<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mamewo.malarm24"
      android:installLocation="auto"
      android:versionCode="7"
      android:versionName="0.8.9">
      <!-- 7 = 2.1 -->
    <uses-sdk android:minSdkVersion="9"
              android:targetSdkVersion="10"
              android:maxSdkVersion="10"/>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:label="@string/app_name"
                 android:icon="@drawable/img">
        <activity android:name="MalarmActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:launchMode="singleTask">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PlaylistViewer" />
        <activity android:name="MalarmPreference" />
        <receiver android:name="MalarmPlayerService$Receiver">
        </receiver>
        <service android:name="MalarmPlayerService" />
        <receiver android:name="MalarmWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                   android:resource="@xml/widget" />
        </receiver>
    </application>
</manifest>
